.starting {
    background-color: #C00000;
    background-size: cover;
    width: 8rem;
    height: 8rem;
    margin: 20px;
    border: 3px solid #FF3334;
    border-radius: 20px;
}

.unselected {
    background-color: #FFBBC1;
    width: 8rem;
    height: 8rem;
    margin: 20px;
    border-radius: 20px;
    border: 3px solid #FFBBC1;
}

.selected {
    background-image: url('./082D41DE-BF6B-4CAA-819F-077EEEFD96F5_1_105_c.jpeg');
    background-size: cover;
    width: 8rem;
    height: 8rem;
    margin: 20px;
    border: 3px solid #FF3334;
    border-radius: 20px;
}

h1 {
    color: #FFBBC1;
}