.starting {
    background-color: #C00000;
    background-size: cover;
    width: 8rem;
    height: 8rem;
    margin: 20px;
    border: 3px solid #FF3334;
    border-radius: 20px;
}

.unselected {
    background-color: #FFBBC1;
    width: 8rem;
    height: 8rem;
    margin: 20px;
    border-radius: 20px;
    border: 3px solid #FFBBC1;
}

.selected {
    background-image: url('./Screenshot 2023-02-06 at 2.36.42 PM.png');
    background-size: cover;
    width: 8rem;
    height: 8rem;
    margin: 20px;
    border: 3px solid #FF3334;
    border-radius: 20px;
}

.image {
    background-image: url('./Screenshot 2023-02-06 at 2.36.42 PM.png');
    background-size: cover;
    width: 10rem;
    height: 10rem;
    margin: 3px;
    border: 3px solid #FF3334;
    border-radius: 20px;
}

h1 {
    color: #FFBBC1;
}